
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' | ' + config.title

- var pageDescription = page.description || config.description || ''
- var pageKeywords = (page.keywords || config.keywords || []).join(',')

- var stylesheets = '/css/index.css'.split(',')
- var scripts = '/js/utils.js,/js/fancybox.js,/js/sidebar.js,/js/copy.js,/js/fireworks.js,/js/transition.js,/js/scroll.js,/js/head.js'.split(',')
- var extraStylesheets = 'https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css'.split(',')
- var extraScripts = '/js/third-party/anime.min.js,/js/third-party/jquery.min.js,/js/third-party/jquery.fancybox.min.js,/js/third-party/velocity.min.js,/js/third-party/velocity.ui.min.js'.split(',')

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description" content=pageDescription)
    meta(name="keywords" content=pageKeywords)
    title= pageTitle
    !=favicon_tag(config.favicon || theme.favicon)
    if stylesheets
      each url in stylesheets
        link(rel='stylesheet', href=url)
    each item in extraStylesheets
      if item !== undefined
        link(rel='stylesheet', href=item + '?version=' + theme.version)
    include ./head.pug
    include ./config.pug
  body
    if theme.fireworks
      canvas.fireworks
    i.fa.fa-arrow-right#toggle-sidebar(aria-hidden="true")
    include ./sidebar.pug
    if (!is_post())
      include ./nav.pug
    #content-outer
      block top_img
      #content-inner.layout
        if body
          div!= body
        else
          block content
    footer
      include ./footer.pug
    i.fa.fa-arrow-up#go-up(aria-hidden="true")
    each item in extraScripts
      if item !== undefined
        script(src=item)
    if scripts
      //- scripts list from config.yml
      each url in scripts
        script(src=url + '?version=' + theme.version)
    include ./additional-js.pug
